# Thanks to https://stackoverflow.com/questions/58522363/installing-private-package-from-github-package-registry-fails-with-not-found-not
# Redirect all @OtailO-recommerce packages to the private github repo we have
@OtailO-recommerce:registry=https://npm.pkg.github.com
# Yarn must have this line in place, otherwise it fails to authenticate and returns 401 error
always-auth=true
# Generate your PAT token from github: https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token
# Place it in the environment variable:
# Linux: export GIT_NPM_TOKEN=XXXX
# Windows: SET GIT_NPM_TOKEN=XXXX
//npm.pkg.github.com/:_authToken=${GIT_NPM_TOKEN}
